<p align="center">
    <a href="https://www.youtube.com/channel/UCUIac80KeiumU29aOm-K3VQ" target="blank"><img src="https://raw.githubusercontent.com/ngRuAir/ngruair/master/assets/logo.png" width="240" alt="NgRuAir Logo" /></a>
</p>

# NgRuAir - видеоподкаст про Angular

[YouTube](https://www.youtube.com/c/ngRuAir) |
[Twitter](https://twitter.com/ngRuAir)

## Выпуски

{{#videos}}
- [{{col1}}]({{{col2}}})
{{/videos}}

## Участники

<table>
    <tbody>
    {{#each table}}
    <tr>
        {{#each cols}}
        <td align="center" valign="top">
            <img width="100" height="100" src="https://github.com/{{col1}}.png?s=150">
            <br>
            <a href="https://github.com/{{col1}}">{{col2}}</a>
        </td>
        {{/each}}
    </tr>
    {{/each}}
    </tbody>
</table>


## По организации, вопросам и предложениям обращаться

<table>
    <tbody>
    <tr>
        <td align="center" valign="top">
            <img width="100" height="100" src="https://github.com/irustm.png?s=150">
            <br>
            <a href="https://github.com/irustm">Рустам Имайкин</a> <br>
            <a href="https://t.me/irustm">https://t.me/irustm</a>
        </td>
    </tr>
    </tbody>
</table>
